<apex:page docType="html-5.0"
sidebar="false"
showheader="false"
standardStylesheets="false"
Controller="ListMeController"
applyHtmlTag="false"
applyBodyTag="false"
>
<html ng-app="listMe">
<head>
  <title> ListMe </title>
  <apex:stylesheet value="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400"/>
  <meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"> </script>
  <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"/>
  <apex:includeScript value="{!URLFOR($Resource.TaskyAssets, 'fastclick/fastclick.js')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.TaskyAssets, 'fonts/proximanova.css')}"/>
  <apex:includeScript value="{!URLFOR($Resource.TaskyAssets, 'stream/cometd.js')}"/>
  <apex:includeScript value="{!URLFOR($Resource.TaskyAssets, 'stream/json2.js')}"/>
  <apex:includeScript value="{!URLFOR($Resource.TaskyAssets, 'stream/jquery.cometd.js')}"/>
  <apex:includeScript value="{!URLFOR($Resource.TaskyAssets, 'slide.js')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.TaskyAssets, 'style.css')}"/>
</head>

<body ng-controller='EventController'>
  <h1> List Me </h1>
  <h2> List of Events </h2>
    <div ng-repeat="event in events">
      <p ng-click="getActiveCustomers(event)"> {{event.Name}} </p>
    </div>
  <h2> List of Customers </h2>
  <div ng-repeat="customer in customers">
    <p ng-click="removeCustomer($index, customer)"> {{customer.Name}} </p>
  </div>
  <form ng-submit="createCustomer(firstName, lastName, currentEvent.Id)">
    <p> First Name </p>
    <input ng-model="firstName"></input>
    <p> Last Name </p>
    <input ng-model="lastName"></input>
    <button type="submit"> Submit this </button>
  </form>
</body>
<script>
  var listMeApp = angular.module('listMe', []);
  listMeApp.controller('EventController', function($scope) {
    /** List of events. */
    $scope.events = [];
    /** The current event. */
    $scope.currentEventId = {};
    /** List of customers. */
    $scope.customers = [];

    /** Gets all the events. */
    var getEvents = function() {
      Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.ListMeController.getEvents}',
        function(result, event) {
          if (event.status) {
            $scope.events = result;
            $scope.$apply();
          } else if (event.type == 'exception') {
            alert('Exception: ' + event.message);
          } else {
            alert('Error: ' + event.message);
          }
        }
        );
    }
    getEvents();

    /** Gets all the Customers that are in the event with Id EVENTID. */
    $scope.getActiveCustomers = function(event) {
      $scope.currentEvent = event;
      Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.ListMeController.getActiveCustomers}',
        event.Id,
        function(result, event) {
          if (event.status) {
            $scope.customers = result;
            $scope.$apply();
          } else if (event.type == 'exception') {
            alert('Exception: ' + event.message);
          } else {
            alert('Error: ' + event.message);
          }
        }
        );
    }

    $scope.createCustomer = function(firstName, lastName, eventId) {
      Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.ListMeController.createCustomer}',
        firstName,
        lastName,
        eventId,
        function(result, event) {
          if (event.status) {
            $scope.customers.push(result);
            $scope.$apply();
          } else if (event.type == 'exception') {
            alert('Exception: ' + event.message);
          } else {
            alert('Error: ' + event.message);
          }
        }
        );
    }

    $scope.removeCustomer = function(index, customer) {
      $scope.customers.splice(index, 1);
      Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.ListMeController.removeCustomer}',
        customer.Id,
        function(result, event) {
          if (event.status) {

          } else if (event.type == 'exception') {
            alert('Exception: ' + event.message);
          } else {
            alert('Error: ' + event.message);
          }
        }
        );
    }
  });
</script>
</html>
</apex:page>